@{
    Layout = "_Layout";
}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" />

<div class="container">
    <div class="survey-header">
        <h2 class="survey-subtitle">Nombre de la Encuesta</h2>
        <a href="/Users/AgregarRespuestaAlumno" class="add-response-button">Agregar respuesta</a>
    </div>

    <ul class="question-list">
        <li>1. ¿Qué tan satisfecho estás con las instalaciones?</li>
        <li>2. ¿Cómo calificarías la atención del personal docente?</li>
        <li>3. ¿Recomendarías esta institución a otras personas?</li>
        <li>4. ¿Qué aspectos consideras que deben mejorar?</li>
        <li>5. ¿Te sientes motivado a continuar tus estudios?</li>
    </ul>
</div>