@{
    Layout = "_LayoutAdmin";
}

<main class="main-content">
    <form class="user-form">
        <label class="confirm-label">¿Estás seguro de que deseas eliminar al usuario <strong>Juan Pérez</strong>?</label>

        <div class="form-buttons">
            <button type="submit" class="btn-primary">Aceptar</button>
            <button type="button" class="btn-secondary" onclick="window.location.href='/Admin/Usuarios'">Cancelar</button>
        </div>
    </form>
</main>
