@{
	Layout = "_LayoutAdmin";
}
<main class="main-content">
	<section class="encuestas-lista">
		<ul class="encuestas-ul">
			<li><a href="DetallesEncuesta.html?id=1">Encuesta de Satisfacción Docente</a></li>
			<li><a href="DetallesEncuesta.html?id=2">Evaluación de Servicios Escolares</a></li>
			<li><a href="DetallesEncuesta.html?id=3">Retroalimentación de Infraestructura</a></li>
			<li><a href="DetallesEncuesta.html?id=4">Ambiente Escolar</a></li>
			<li><a href="DetallesEncuesta.html?id=5">Accesibilidad y Tecnología</a></li>
		</ul>
	</section>

</main>
