@{
    Layout = "_LayoutAdmin";
}
<div class="main-content2">
    <div class="active-users">
        <h1 >Titulo encuesta</h1>
        <h4 class="seccion-titulo">Alumnos que respondieron:</h4>

        <div class="alumnos-container">
            <!-- Tarjeta de alumno -->
            <div class="alumno-card">
                <div class="alumno-info">
                    <p><strong>Nombre:</strong> Juan Pérez</p>
                    <p><strong>Número de Control:</strong> 12345678</p>
                </div>
                <div class="alumno-acciones">
                    <a class="btn-primary" href="/Admin/VerRespuestasDeAlumno">Ver Respuestas</a>
                </div>
            </div>

            <div class="alumno-card">
                <div class="alumno-info">
                    <p><strong>Nombre:</strong> María López</p>
                    <p><strong>Número de Control:</strong> 87654321</p>
                </div>
                <div class="alumno-acciones">
                    <a class="btn-primary" href="VerRespuestasAlumno.html">Ver Respuestas</a>
                </div>
            </div>
    
        </div>
    </div>
</div>