@{
    Layout = "_LayoutAdmin";
}
<div class="respuestas">
    <h2 class="seccion-titulo">
        Respuestas de alumno: <span class="nombre-alumno">Juan Pérez</span>
        | No. Control <span class="numero-control">4424</span>
    </h2>
    <div class="rating-labels">
        <span class="label-opcion uno">Muy malo (1)</span>
        <span class="label-opcion dos">Malo (2)</span>
        <span class="label-opcion tres">Regular (3)</span>
        <span class="label-opcion cuatro">Bueno (4)</span>
        <span class="label-opcion cinco">Excelente (5)</span>
    </div>
    <div class="tarjeta-respuesta">
        <p class="pregunta"><strong>1. ¿Qué te pareció la dificultad del curso?</strong></p>
        <p class="respuesta">4</p>
    </div>

    <div class="tarjeta-respuesta">
        <p class="pregunta"><strong>2. ¿Consideras que el instructor explicó bien?</strong></p>
        <p class="respuesta">5</p>
    </div>

    <div class="tarjeta-respuesta">
        <p class="pregunta"><strong>3. ¿Te gustó la duración de las clases?</strong></p>
        <p class="respuesta">3 </p>
    </div>

    <div class="tarjeta-respuesta">
        <p class="pregunta"><strong>4. ¿Volverías a tomar otro curso similar?</strong></p>
        <p class="respuesta">5</p>
    </div>
</div>